---
layout: layouts/home.njk
description: Description. Update me.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<p>
  This is a demo website based on 
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>

<h2>Última nota</h2>
{% set postslist = collections.posts | reverse %}
{% set post = postslist[0] %}
<ul class="post-list">
  <li>
    <a href="{{ post.url | url }}">
    {{ post.data.title }}
    </a>
    <data><time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></data>
  </li>
</ul>
<p>Ver más <a href="/notas">notas</a>.</p>