<ul>
{% for post in bloglist | reverse %}
  <li>
    <a href="{{ post.url | url }}">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    {# <data><time  datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time></data> #}
  </li>
{% endfor %}
</ul>
