<!doctype html>
<html lang="es"
    domain="{{ metadata.domain }}"
  >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="{{ csp.regular | safe }}">
    {% if isdevelopment %}
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    {% else %}
    <link rel="icon" href="{{ '/img/favicon/favicon-192x192.png' | addHash }}" type="image/png">
    {% endif %}
    <meta name="theme-color" content="#f9c412">
    <title>{{ renderData.title or title or metadata.title | escape }}</title>
    <meta property="og:title" content="{{ renderData.title or title or metadata.title | escape  }}">
    {% set desc = renderData.description or description %}
    {% if not desc %}
      {% set desc = content | striptags | truncate(140) %}
    {% endif %}
    {% if desc %}
      <meta name="description" content="{{ desc | escape  }}">
      <meta property="og:description" content="{{ desc | escape }}">
    {% endif %}
    {% if image %}
      <meta property="og:image" content="{{ image | absoluteUrl(metadata.url) }}">
    {% endif %}

    <link rel="canonical" href="{{ metadata.url }}{{ canonicalUrl or page.url }}">
    <!-- This is a blog and so it SHOULD be safe and it is nice for the web
         to send referrers cross-origin.
         However, if you use sensitive data in URLs, consider changing this to
         a value like `origin-when-cross-origin`
         https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy
          -->
    <meta name="referrer" content="no-referrer-when-downgrade">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

    <link rel="preconnect" href="/" crossorigin>
    <script async defer src="{{ "/js/min.js" | addHash }}"></script>
    <!-- Notably iOS UAs also contain Mac OS X -->
    <script csp-hash>if (/Mac OS X/.test(navigator.userAgent))document.documentElement.classList.add('apple')
    </script>
    <!-- css is inserted by optimize-html custom plugin -->
  </head>
  <body>
    <header>
      <a href="/" title="Página de inicio">
        <svg width="18" height="18" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
        <path d="M16 16L8 8L16 0H0V16H16Z"/>
        </svg>
      </a>
      <nav>
        <ul>
        {#- Read more about `eleventy-navigation` at https://www.11ty.dev/docs/plugins/navigation/ #}
        {%- for entry in collections.all | eleventyNavigation %}
          <li>
            <a href="{{ entry.url | url }}">{{ entry.title }}</a>
          </li>
        {%- endfor %}
        </ul>
      </nav>
    </header>

    <main>
      <article>
        {% if r/\/blog\/./g.test(page.url) %}
          <data><time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time></data>
        {% endif %}
        <h1>{{ title }}</h1>
        {% block extraArticleHeader %}{% endblock %}
        {% block article %}
          {{ content | safe }}
        {% endblock %}
      </article>
    </main>

    <footer>
      <nav>
        <section>
          <h3>Sitio</h3>
          <ul>
            <li>
                <a href="/">inicio</a>
            </li>
            {%- for entry in collections.all | eleventyNavigation %}
              <li>
                <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              </li>
            {%- endfor %}
          </ul>
        </section>
        <section>
          <h3>Contacto</h3>
          <ul>
            <li>
                <a target="_blank" href="https://github.com/ezequielramis">github</a>
            </li>
            <li>
                <a target="_blank" href="https://www.linkedin.com/in/ezequielramis/">linkedin</a>
            </li>
            <li>
                <a target="_blank" href="mailto:ezequiel@ramis.ar">ezequiel@ramis.ar</a>
            </li>
          </ul>
        </section>
        <button id="theme-switcher" title="Cambiar a modo oscuro/claro">
          <svg viewBox="0 0 24 24" height="24" width="24" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="sun">
            <circle cx="12" cy="12" r="5"></circle>
            <path d="M12 1v2M12 21v2M4.22 4.22l1.42 1.42M18.36 18.36l1.42 1.42M1 12h2M21 12h2M4.22 19.78l1.42-1.42M18.36 5.64l1.42-1.42"></path>
          </svg>
          <svg stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" height="24" width="24" class="moon">
            <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
          </svg>
        </button>
      </nav>
    </footer>
  </body>
</html>
